/* This file will hold styles that are loaded using the same media query as the wide grid. */

#region-branding-second {

}
.block-main-menu {
    /*height: 355px;*/
}

#region-branding-second {
	/*height: 140px;
   	line-height: 140px;
   	text-align: left;*/
}

.front #region-content {
    width: 900px;
}

#region-content  {
  width:900px;
}

.front #zone-content-wrapper {
    margin-bottom: 20px;
    max-height: 320px;
    overflow: hidden;
}

.page-node-1 #region-content {
    width: 400px;
}

#block-block-5 {
}

#region-preface-second {
	margin-top:0px;
	width: 900px;
}

h3.fp {
    float: left;
    font-size: 20px;
    margin: 20px 0 0 10px;
}

.fp-img {
    clear: both;
    display: block;
    float: left;
    margin: 0 20px 20px 10px;
}

.fp-link {
    float: left;
	font-size:14px;
	margin: 10px 10px 0 0;
}

#region-postscript-second {
    width:900px;
}

#block-system-main-menu ul.menu li.leaf a {
    color: #e51837;
    display: block;
    padding: 8px;
    text-align: right;
    font-size:14px;
}

/*///////////////////////////////////////////*/
			/* FRONT PAGE NEWS ITEMS */
/*///////////////////////////////////////////*/

#block-views-front-page-news-items-block {
	margin:20px;
}

#block-views-front-page-news-items-block .views-row {
	margin: 0 0 20px;
}

#block-views-front-page-news-items-block .views-field.views-field-field-image {
    float: left;
    margin: 5px 10px 0px 0;
	width:100px;
}

#block-views-front-page-news-items-block .views-field.views-field-body {
    font-size: 14px;
    margin-top: 5px;
}

#block-views-front-page-news-items-block .views-field.views-field-title a {
    font-size: 24px;
    padding-bottom: 5px;
	color:#e51837;
	font-weight:bold;
	letter-spacing:1px;
}

/*///////////////////////////////////////////*/
			/* ASK A QUESTION */
/*///////////////////////////////////////////*/

#question-node-form {
}

#edit-field-question textarea {
	/*resize:none;
	height:200px;*/
}

/*td.col-1.col-first.grid-4,
td.col-2.col-last.grid-4 {
	width:47.5%;
}*/

.views-row-odd {
    margin-right: 2%;
}
.views-row {
    float: left;
}

.page-chair #region-content {
    margin-top: 10px;
}

/* HCP POP UP */

#sliding-popup.sliding-popup-top {
}

#sliding-popup .popup-content #popup-text p {
}

.page-node-2 .views-row {
    min-height: 215px;
}

#region-sidebar-first {
    height: 357px;
}

#block-user-login {
    height: 317px;
}

.reg-btn {
    background: none repeat scroll 0 0 #e51837;
    display: block;
    margin: 20px 0 0;
    padding: 14px 0;
    text-align: center;
    width: 100%;
}


/* changes 1/12/14 */

.page-user #region-content {
    width: 480px;
    height: 357px;
}

#user-register-form input {
    width: 75%;
}

#user-register-form label {
    width: 25%;
    float: left;
}

.page-user input#edit-submit.form-submit {
    margin: 10px 0;
    padding: 15px 35px;
}

.title-img {
    height: 214px;
    overflow: hidden;
}

#edit-field-country-location .form-select {
    width: 75%;
}
.page-user.page-user-edit #region-content,
.page-user.page-user-edit #region-content .block {
    height: auto;
    width: 900px;
}


/* TRACKING PAGE */
.view-tracking .view-header > div,
.view-tracking .view-header > section {
  background-color: #d9d9d9;
}

.view-tracking .view-header .tracking {
  padding: 0;
}

.view-tracking .view-header .left {
  float: left;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.view-tracking .view-header .right {
  margin-left: 440px;
  margin-bottom: 20px;
  display: table;
}

.view-tracking .view-header .half {
  width: 420px;
}

.view-tracking .view-header .quarter {
  width: 200px;
}

.view-tracking .view-header h2.block-title {
  font-size: 18px;
  line-height: 25px;
  margin: 5px;
}

.view-tracking #aps-geo-location {
  padding: 10px;
}

.view-tracking .view-header .view-display-id-online .view-content,
.view-tracking .view-header .view-display-id-webcast .view-content {
  font-size: 65pt;
  line-height: 80pt;
}

.view-tracking .view-header .view-display-id-online .view-content .field-content,
.view-tracking .view-header .view-display-id-webcast .view-content .field-content {
  margin: 0 10px;
}

.view-tracking .view-header .view-display-id-views .view-content ol {
  margin-bottom: 10px;
}

.view-tracking .view-header .view-display-id-views .view-content li {
  font-size: 10pt;
  line-height: 16pt;
  list-style: decimal;
}



