/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
.logo-img {
    
} 
 
#region-branding-second p {
	font-size:18px;
} 

#block-system-main-menu ul.menu li {
    font-size: 12px;
}

#region-branding-second {
	/*height: 110px;
   	line-height: 140px;
   	text-align: left;*/
}

.front #region-content {
    width: 540px;
}

.front #zone-content-wrapper {
    margin-bottom: 20px;
    max-height: 340px;
    overflow: hidden;
}

#block-block-5 {
    position: absolute;
    top: 53px;
}

h3.fp {
    float: left;
    font-size: 18px;
    margin: 5px 10px 5px 0;
}

.fp-img {
    clear: both;
    display: block;
    float: left;
    margin: 0 10px 0px 0;
}

.fp-link {
    float: left;
    font-size: 12px;
    margin: 0 10px 0 0;
}

td.col-1.col-first.grid-4,
td.col-2.col-last.grid-4 {
	width:46%;
}

/*///////////////////////////////////////////*/
			/* FRONT PAGE NEWS ITEMS */
/*///////////////////////////////////////////*/

#block-views-front-page-news-items-block {
	margin: 20px 10px;
	padding:0;
}

#block-views-front-page-news-items-block .views-row {
	margin: 0 0 20px;
}

#block-views-front-page-news-items-block .views-field.views-field-field-image {
    float: left;
	margin: 5px 10px 20px 0;
	width:50px;
}

#block-views-front-page-news-items-block .views-field.views-field-body {
    font-size: 12px;
    margin-top: 5px;
}

#block-views-front-page-news-items-block .views-field.views-field-title a {
    font-size: 20px;
    padding-bottom: 5px;
	color:#e51837;
	font-weight:bold;
	letter-spacing:1px;
}

#region-branding-second {
    float: left;
    margin: 0 0 0 20px;
    top: -50px;
}

.views-row-odd {
    margin-right: 2%;
}
.views-row {
    float: left;
    width: 46%;
}

.page-node-2  .views-row {
    min-height: 340px;
}


#block-system-main-menu ul.menu li.leaf a {
    color: #e51837;
    display: block;
    padding: 9px 0 9px 10px;
}

/* HCP POP UP */

#sliding-popup.sliding-popup-top {
    margin-top: 85px;
    position: absolute;
	background: url("http://www.aps-dev1.com/dev/adVENT_Basetheme/sites/default/files/images/jigsaw.png") no-repeat scroll right -85px #e51837;
}

#sliding-popup .popup-content {
	margin-top:50px;
    height: 120px;
    max-width: 700px;
    padding: 20px;
}

#sliding-popup .popup-content #popup-text p {
    font-size: 17px;
}

#sliding-popup .popup-content #popup-buttons button {
	width:280px;
}

#question-node-form {
    height: 440px;
    margin: 0 10px;
}