/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
.logo-img {
    
} 
 
#region-branding-second p {
	font-size:18px;
} 

#block-system-main-menu ul.menu li {
    font-size: 12px;
}

#region-branding-second {
	/*height: 110px;
   	line-height: 140px;
   	text-align: left;*/
}

.front #region-content {
    width: 540px;
}

.page-node-1 #region-content {
    width: 240px;
}

#region-postscript-second {
    width:540px;
    margin:0;
}

#region-content  {
  width:540px;
}

.front #zone-content-wrapper {
    margin-bottom: 20px;
    max-height: 340px;
    overflow: hidden;
}

#block-block-5 {
}

h3.fp {
    float: left;
    font-size: 18px;
    margin: 5px 10px 5px 0;
}

.fp-img {
    clear: both;
    display: block;
    float: left;
    margin: 0 10px 0px 0;
}

.fp-link {
    float: left;
    font-size: 12px;
    margin: 0 10px 0 0;
}

td.col-1.col-first.grid-4,
td.col-2.col-last.grid-4 {
	width:46%;
}

/*///////////////////////////////////////////*/
			/* FRONT PAGE NEWS ITEMS */
/*///////////////////////////////////////////*/

#block-views-front-page-news-items-block {
	margin: 20px 10px;
	padding:0;
}

#block-views-front-page-news-items-block .views-row {
	margin: 0 0 20px;
}

#block-views-front-page-news-items-block .views-field.views-field-field-image {
    float: left;
	margin: 5px 10px 20px 0;
	width:50px;
}

#block-views-front-page-news-items-block .views-field.views-field-body {
    font-size: 12px;
    margin-top: 5px;
}

#block-views-front-page-news-items-block .views-field.views-field-title a {
    font-size: 20px;
    padding-bottom: 5px;
	color:#e51837;
	font-weight:bold;
	letter-spacing:1px;
}

#region-branding-second {
}

.views-row-odd {
    margin-right: 2%;
}
.views-row {
    float: left;
}

.page-node-2  .views-row {
    min-height: 340px;
}


#block-system-main-menu ul.menu li.leaf a {
    color: #e51837;
    display: block;
    padding: 5px 10px 5px 10px;
    text-align:right;
}

/* HCP POP UP */

#sliding-popup.sliding-popup-top {
}

#sliding-popup .popup-content {
}

#sliding-popup .popup-content #popup-text p {
}

#sliding-popup .popup-content #popup-buttons button {
}

#question-node-form {
}

#region-sidebar-first {
    height: 292px;
}

#block-block-15 p {
    font-size: 14px;
}

#block-user-login {
    height: 252px;
}

.pass-btn {
  float:left;
}

#user-login-block-form-fields input#edit-submit.form-submit {
    margin-bottom: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}

/* 1/12/14 */

#user-register-form input {
    width: 67%;
}

#user-register-form label {
    width: 33%;
    float: left;
    font-size: 10px;
}

.page-user #region-content {
    width: 280px;
}

input#edit-submit.form-submit {
    margin: 0 0 10px;
    width: auto;
}

.page-user ul.primary li a {
    font-size: 10px;
    padding: 5px 3px;
}

.page-user input#edit-submit.form-submit {
    margin: 0;
    padding: 5px 10px;
}

.page-user .form-item, .page-user .form-actions {
    margin-bottom: 5px;
    margin-top: 8px;
}

.title-img {
    height: 95px;
    overflow: hidden;
}

.page-user #region-content .block {
    height: 232px;
}

.page-user.page-user-edit #region-content,
.page-user.page-user-edit #region-content .block {
    height: auto;
    width: 540px;
}

.page-user.page-user-edit #region-content .form-text.required {
    width: auto;
}
#edit-field-country-location .form-select {
    width: 67%;
}
