/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
.logo-img {
    padding-top: 10px;
} 

#region-branding-second p {
	font-size:14px;
} 

#block-system-main-menu ul.menu li {
    font-size: 14px;
}

#region-branding-second {
	/*height: 110px;
   	line-height: 140px;
   	text-align: left;*/
}

.front #region-content {
    width: 720px;
}

#region-content  {
  width:720px;
}

.page-node-1 #region-content {
    width: 320px;
}

#region-postscript-second {
    width:720px;
}

.front #zone-content-wrapper {
    margin-bottom: 20px;
    max-height: 320px;
    overflow: hidden;
}

#block-block-5 {

}

#region-preface-second {
	margin-top:0px;
	width: 720px;
}

td {
    text-align: left;
}

h3.fp {
    float: left;
    font-size: 18px;
    margin: 10px 0 10px 0px;
}

.fp-img {
    clear: both;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}

.fp-link {
    float: left;
	font-size:14px;
	margin: 0 10px 0 0;
}

article p {
  font-size:14px; 
}

/*///////////////////////////////////////////*/
			/* FRONT PAGE NEWS ITEMS */
/*///////////////////////////////////////////*/

#block-views-front-page-news-items-block {
	margin:20px;
}

#block-views-front-page-news-items-block .views-row {
	margin: 0 0 20px;
}

#block-views-front-page-news-items-block .views-field.views-field-field-image {
    float: left;
    margin: 4px 10px 10px 0;
	width:75px;
}

#block-views-front-page-news-items-block .views-field.views-field-body {
    font-size: 14px;
    margin-top: 5px;
}

#block-views-front-page-news-items-block .views-field.views-field-title a {
    font-size: 24px;
    padding-bottom: 5px;
	color:#e51837;
	font-weight:bold;
	letter-spacing:1px;
}

#question-node-form {
}

#edit-field-question textarea {
	/*resize:none;
	height:200px;
*/}

td.col-1.col-first.grid-4,
td.col-2.col-last.grid-4 {
	width:47%;
}

#region-branding-second {

}

.views-row-odd {
    margin-right: 3%;
}
.views-row {
    float: left;
}

.page-node-2  .views-row {
    min-height:127px;
}

#block-system-main-menu ul.menu li.leaf a {
    color: #e51837;
    display: block;
    padding: 7px;
    text-align: right;
    font-size:13px;
}

/* HCP POP UP */

#sliding-popup.sliding-popup-top {
}

#sliding-popup .popup-content #popup-text p {
}

#region-sidebar-first {
    height: 313px;
}

#block-block-15 p {
    font-size: 16px;
}
#block-user-login {
    height: 269px;
}
.pass-btn {
  float:right;
}

#user-login-block-form-fields input#edit-submit.form-submit {
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
}


/* 1/12/14 */

.page-user #region-content {
    width: 380px;
    height: 313px;
}

.page-user #region-content .block {
    height: 252px;
}

#user-register-form input {
    width: 70%;
}

#user-register-form label {
    width: 30%;
    float: left;
    font-size: 12px;
}

.page-user ul.primary li a {
    font-size: 12px;
    padding: 5px 10px;
}

.page-user input#edit-submit.form-submit {
    margin: 0;
    padding: 7px 27px;
}

.page-user .form-item, .page-user .form-actions {
    margin-bottom: 5px;
    margin-top: 10px;
}

.title-img {
    height: 140px;
    overflow: hidden;
}

.page-user #region-content .block {
}

.page-user-edit #region-content .block {
    height: auto;
}
